@page
@using Volo.Abp.Account.Localization
@inject IStringLocalizer<AccountResource> Localizer
@{
  Layout = "Shared/Empty";
  ViewBag.Title = Localizer["Login"];
}

<div class="page-login"
     id="login">
  <ul class="bubbles">
    <li :key="n"
        v-for="n in 10">
    </li>
  </ul>
  <el-card class="login-box">
    <el-form :model="loginForm"
             ref="loginForm"
             status-icon>
      <el-form-item label="@Localizer["UserName"]"
                    prop="userNameOrEmailAddress">
        <el-input autocomplete="on"
                  v-model="loginForm.userNameOrEmailAddress">
        </el-input>
      </el-form-item>
      <el-form-item label="@Localizer["Password"]"
                    prop="password">
        <el-input :show-password="true"
                  autocomplete="off"
                  type="password"
                  v-model="loginForm.password">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-checkbox v-model="loginForm.rememberMe">@Localizer["RememberMe"]</el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button @@click="login"
                   type="primary">
          @Localizer["Login"]
        </el-button>
        <el-button @@click="resetForm('loginForm')">@L["Reset"]</el-button>
      </el-form-item>
    </el-form>
  </el-card>
</div>

<script>
  new Vue({
    el: "#login",
    data() {
          return {
            loginForm: {
              userNameOrEmailAddress: "admin",
              password: "1q2w3E*",
              rememberMe: false
            }
          };
        },
    methods: {
      login() {
        j3space.authServer.controllers.account.login(this.loginForm).then(
                response => {
                  if (response.result !== 0)
                  {
                    this.$message({
                      message: response.description,
                      type: "error",
                      duration: 2000
                    });
                    this.resetForm();
                  }
                  else
                  {
                    let params = new URL(window.location).searchParams;
                    let returnUrl =params.has("ReturnUrl")
                      ? params.get("ReturnUrl")
                      : "/"
                    window.location.href = returnUrl;
                  }
                }
        )
      },
      resetForm() {
        this.$refs["loginForm"].resetFields();
      }
    }
  })
</script>

@section style
{
  <link asp-append-version="true"
        href="~/css/login.css"
        rel="stylesheet">
}
