@model Volo.Abp.UI.Navigation.ApplicationMenu

<div id="navbarMenu">
  <el-menu @@select="onSelect"
           mode="horizontal">
    @foreach (var menuItem in Model.Items)
    {
      var url = string.IsNullOrEmpty(menuItem.Url) ? "#" : Url.Content(menuItem.Url);
      if (menuItem.IsLeaf)
      {
        <el-menu-item index="@url">
          <a href="@url">@menuItem.DisplayName</a>
        </el-menu-item>
      }
      else
      {
        <el-submenu index="@url">
          <template slot="title">@menuItem.DisplayName</template>
          @foreach (var childMenuItem in menuItem.Items)
          {
            var subUrl = string.IsNullOrEmpty(childMenuItem.Url) ? "#" : Url.Content(childMenuItem.Url);
            <el-menu-item index="@subUrl">
              @* TODO: 考虑递归子菜单的问题，可能需要再调用一个页面 *@
              @childMenuItem.DisplayName
            </el-menu-item>
          }
        </el-submenu>
      }
    }
  </el-menu>
</div>

<script>
  new Vue({
    el: "#navbarMenu",
    methods: {
      onSelect(index, _) {
        window.location.href = index;
      }
    }
  })
</script>
