@inject ICurrentUser CurrentUser
@using Microsoft.AspNetCore.Http.Extensions
@using Volo.Abp.Users
@using System.Net
@model J3space.Sample.Pages.Shared.Components.Profile.ProfileViewModel

<div id="profile">
  <el-dropdown @@command="onLanguageClicked">
    <el-button style="font-size: 18px"
               type="text">
      @Model.CurrentLanguage.DisplayName
      <i class="el-icon-arrow-down el-icon--right"></i>
    </el-button>

    <el-dropdown-menu>
      @foreach (var language in Model.OtherLanguages)
      {
        var url = $"/Abp/Languages/Switch?culture={language.CultureName}&uiCulture={language.UiCultureName}&ReturnUrl={WebUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery())}";
        <el-dropdown-item command="@url">
          @language.DisplayName
        </el-dropdown-item>
      }
    </el-dropdown-menu>
  </el-dropdown>

  <el-dropdown @@command="onUserClicked">
    <el-button style="font-size: 18px"
               type="text">
      @CurrentUser.UserName
    </el-button>

    @if (Model.UserMenu.Items.Any())
    {
      <el-dropdown-menu>
        @foreach (var menuItem in Model.UserMenu.Items)
        {
          var url = string.IsNullOrEmpty(menuItem.Url) ? "#" : Url.Content(menuItem.Url);
          <el-dropdown-item command='{"url":"@url","target":"@menuItem.Target"}'>
            @menuItem.DisplayName
          </el-dropdown-item>
        }
      </el-dropdown-menu>
    }
  </el-dropdown>

</div>

<script>
  new Vue({
    el: "#profile",
    methods: {
      onLanguageClicked(url) {
        window.location.href = url;
      },
      onUserClicked(objStr) {
        model = JSON.parse(objStr)
        if (model.target === "") model.target = "_self";
        window.open(model.url, model.target);
      }
    }
  })
</script>
