@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@using Volo.Abp.AspNetCore.Mvc.AntiForgery
@model J3space.Abp.IdentityServer.Web.Pages.Consent.ConsentModel
@{
  Layout = null;
  AbpAntiForgeryManager.SetCookie();
}

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport">
  <meta content="ie=edge"
        http-equiv="X-UA-Compatible">
  <link rel="stylesheet"
        href="/Pages/Consent/consent.css"
        asp-append-version="true">
  <title>Consent</title>
</head>

<body>

<div class="container">
  @if (Model.ClientInfo.ClientLogoUrl != null)
  {
    <div class="client-logo">
      <div class="logo-container">
        <img src="@Model.ClientInfo.ClientLogoUrl"
             alt="ClientLogo"
             class="logo">
      </div>
      <div class="connection">
        <span class="line"></span>
        <svg aria-hidden="true"
             class="tick">
          <use xlink:href="#icon-success"></use>
        </svg>
        <span class="line"></span>
      </div>
      <div class="logo-container">
        <svg aria-hidden="true"
             class="logo">
          <use xlink:href="#icon-guard"></use>
        </svg>
      </div>
    </div>
  }

  <div class="request-info">
    <div class="client-name">@Model.ClientInfo.ClientName</div>
    <div>
      wants to access your account:
      <span class="username">@Model.ConsentInput.UserName</span>
    </div>
    <div class="long-message">
      The following permissions are requested by the app
      <br>
      Uncheck the permissions you do not want to grant
    </div>
  </div>

  <div class="container-form">
    <form asp-page="/Consent/Index"
          method="post">
      <input type="hidden"
             asp-for="ReturnUrl" />
      <input type="hidden"
             asp-for="ReturnUrlHash" />

      <div class="scope">
        @if (!Model.ConsentInput.IdentityScopes.IsNullOrEmpty())
        {
          <div class="scope-head">
            <svg aria-hidden="true"
                 class="img">
              <use xlink:href="#icon-person"></use>
            </svg>
            <h3>Personal Information</h3>
          </div>

          <ul class="list-group">
            @for (var i = 0; i < Model.ConsentInput.IdentityScopes.Count; i++)
            {
              <li class="list-group-item">
                <label asp-for="@Model.ConsentInput.IdentityScopes[i].Checked">
                  <input asp-for="@Model.ConsentInput.IdentityScopes[i].Checked" />
                  @Model.ConsentInput.IdentityScopes[i].DisplayName
                  @if (Model.ConsentInput.IdentityScopes[i].Required)
                  {
                    <span style="color: red">
                      *
                    </span>
                  }
                </label>
                <input asp-for="@Model.ConsentInput.IdentityScopes[i].Name"
                       type="hidden" />
              </li>
            }
          </ul>
        }

        @if (!Model.ConsentInput.ApiScopes.IsNullOrEmpty())
        {
          <div class="scope-head">
            <svg aria-hidden="true"
                 class="img">
              <use xlink:href="#icon-app"></use>
            </svg>
            <h3>Application Access</h3>
          </div>

          <ul class="list-group">
            @for (var i = 0; i < Model.ConsentInput.ApiScopes.Count; i++)
            {
              <li class="list-group-item">
                <label asp-for="@Model.ConsentInput.ApiScopes[i].Checked">
                  <input asp-for="@Model.ConsentInput.ApiScopes[i].Checked"
                         disabled="@Model.ConsentInput.ApiScopes[i].Required" />
                  @Model.ConsentInput.ApiScopes[i].DisplayName
                  @if (Model.ConsentInput.ApiScopes[i].Required)
                  {
                    <span style="color: red">
                      *
                    </span>
                  }
                </label>
                <input asp-for="@Model.ConsentInput.ApiScopes[i].Name"
                       type="hidden" />
              </li>
            }
          </ul>
        }
      </div>

      @if (Model.ClientInfo.AllowRememberConsent)
      {
        <label asp-for="@Model.ConsentInput.RememberConsent"
               class="remember">
          <input asp-for="@Model.ConsentInput.RememberConsent" />
          <strong>Remember My Decision</strong>
        </label>
      }

      <div class="btn-group">
        <button autofocus
                class="btn btn-primary"
                name="UserDecision"
                value="yes">
          Yes, Allow
        </button>
        <button class="btn"
                name="UserDecision"
                value="no">
          No, Do Not Allow
        </button>
      </div>
    </form>
  </div>
</div>
</body>
<script src="//at.alicdn.com/t/font_1966347_hs6t4e5x23v.js"></script>
</html>
