@page
@model J3space.Abp.Account.Web.Pages.Account.LoginModel

<form class="box"
      method="post">
  <div class="has-text-centered is-size-1 mb-3">@L["Login"]</div>

  <input asp-for="ReturnUrl" />
  <input asp-for="ReturnUrlHash" />

  <div class="field">
    <div class="wrap-input">
      <svg aria-hidden="true"
           class="icon">
        <use xlink:href="#icon-user"></use>
      </svg>
      <input asp-for="Input.UserNameOrEmailAddress"
             autocomplete="on"
             class="input is-shadowless"
             placeholder="@L["UserNameOrEmailAddress"]"
             required>
      <span class="focus-input"></span>
    </div>
  </div>

  <div class="field">
    <div class="wrap-input">
      <svg aria-hidden="true"
           class="icon">
        <use xlink:href="#icon-lock"></use>
      </svg>
      <input asp-for="Input.Password"
             class="input is-shadowless"
             placeholder="@L["Password"]"
             required>
      <span class="focus-input"></span>
    </div>
  </div>

  <div class="field">
    <label asp-for="Input.RememberMe">
      <input asp-for="Input.RememberMe"
             type="checkbox" />
      <span>@L["RememberMe"]</span>
    </label>
  </div>

  <div class="mb-4 pt-4">
    <div class="wrap-form-btn">
      <div class="form-btn-bg"></div>
      <button class="form-btn"
              type="submit">
        @L["Login"]
      </button>
    </div>
  </div>

  @if (Model.ExternalProviderHelper.VisibleExternalProviders.Any())
  {
    <div class="has-text-centered my-5">
      <span>@L["UseAnotherServiceToLogin"]</span>
    </div>

    <div class="columns is-centered is-mobile">
      @foreach (var provider in Model.ExternalProviderHelper.VisibleExternalProviders)
      {
        <a asp-page="./Login"
           asp-page-handler="ExternalLogin"
           asp-route-provider="@provider.AuthenticationScheme"
           asp-route-returnUrl="@Model.ReturnUrl"
           asp-route-returnUrlHash="@Model.ReturnUrlHash"
           class="login-social-item mx-1">
          <svg aria-hidden="true"
               class="icon">
            <use xlink:href="#icon-@provider.DisplayName.ToLower()"></use>
          </svg>
        </a>
      }
    </div>
  }

  <div class="has-text-centered">
    <a asp-page="/Account/Register"
       asp-route-returnUrl="@Model.ReturnUrl"
       asp-route-returnUrlHash="@Model.ReturnUrlHash"
       class="is-size-6 mx-1">
      @L["Register"]
    </a>
    <a asp-page="./Login"
       asp-page-handler="Cancel"
       asp-route-returnUrl="@Model.ReturnUrl"
       class="is-size-6 mx-1">
      @L["Cancel"]
    </a>
    <a class="is-size-6 mx-1"
       href="@Url.Page("./ForgotPassword", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})">
      @L["ForgotPassword"].Value.TrimEnd('?')
    </a>
  </div>
</form>
