@page
@model J3space.Abp.Account.Web.Pages.Account.ResetPasswordModel

<form class="box"
      method="post">
  <div class="has-text-centered is-size-3 mb-3">
    @L["ResetPassword"]
  </div>

  <div class="block">
    @L["ResetPassword_Information"]
  </div>

  <input asp-for="ReturnUrl" />
  <input asp-for="ReturnUrlHash" />
  <input asp-for="UserId" />
  <input asp-for="ResetToken" />

  <div class="field">
    <label asp-for="Password"
           class="label">
      @L["DisplayName:Password"]
    </label>

    <div class="control">
      <input asp-for="Password"
             class="input">
    </div>
  </div>

  <div class="field">
    <label asp-for="ConfirmPassword"
           class="label">
      @L["ConfirmPassword"]
    </label>

    <div class="control">
      <input asp-for="ConfirmPassword"
             class="input">
    </div>
  </div>

  <div class="buttons mt-5">
    <button class="button is-primary"
            type="submit">
      @L["Submit"]
    </button>
    <a asp-page="./Login"
       class="button">
      @L["Cancel"]
    </a>
  </div>
</form>

<style type="text/css">
  .input {
    border: 1px solid #d4d4d4;
  }
</style>