@using Volo.Abp.AspNetCore.Mvc.AntiForgery
@using Volo.Abp.Localization
@using System.Globalization
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@{
  AbpAntiForgeryManager.SetCookie();
  const string appName = "MyApplication"; // TODO: 引入配置文件内容
  var pageTitle = string.IsNullOrEmpty(ViewBag.Title) ? appName : ViewBag.Title;
  var rtl = CultureHelper.IsRtl ? "rtl" : string.Empty;
}

<!DOCTYPE html>

<html lang="@CultureInfo.CurrentCulture.Name"
      dir="@rtl">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport">
  <meta content="ie=edge"
        http-equiv="X-UA-Compatible">
  <link asp-append-version="true"
        href="/Pages/Account/site.css"
        rel="stylesheet"
        type="text/css">

  <title>@pageTitle</title>
</head>

<body>
@RenderBody()

@if (!Model.AccountPageResult.Succeed)
{
  <div class="notify">
    <svg aria-hidden="true"
         class="error-notify icon">
      <use xlink:href="#icon-error"></use>
    </svg>
    <div>
      @foreach (var message in Model.AccountPageResult.Message.Split("|", StringSplitOptions.RemoveEmptyEntries))
      {
        <p class="error-message">@message</p>
      }
    </div>
  </div>
}

<script src="//at.alicdn.com/t/font_1966347_1cqmya5ja5t.js"></script>
</body>
</html>
