@page
@model J3space.Abp.Account.Web.Pages.Account.Login

<div class="limiter">
  <div class="container-login">

    <ul class="bg-bubbles">
      @for (var n = 0; n < 10; n++)
      {
        <li></li>
      }
    </ul>

    <div class="p-b-54 p-l-55 p-r-55 p-t-65 wrap-login">
      <form class="login-form validate-form"
            method="post">
        <span class="login-form-title p-b-49">@L["Login"]</span>

        <input asp-for="ReturnUrl" />
        <input asp-for="ReturnUrlHash" />

        <div class="m-b-23 wrap-input">
          <svg aria-hidden="true"
               class="icon">
            <use xlink:href="#icon-sharpicons_user"></use>
          </svg>
          <input asp-for="LoginInput.UserNameOrEmailAddress"
                 autocomplete="on"
                 class="input"
                 placeholder="@L["UserNameOrEmailAddress"]"
                 required>
          <span class="focus-input"></span>
        </div>

        <div class="wrap-input">
          <svg aria-hidden="true"
               class="icon">
            <use xlink:href="#icon-lock"></use>
          </svg>
          <input asp-for="LoginInput.Password"
                 class="input"
                 placeholder="@L["Password"]"
                 required>
          <span class="focus-input"></span>
        </div>

        <div class="wrap-checkbox">
          <label class="remember-label"
                 for="remember-input">
            <input asp-for="LoginInput.RememberMe"
                   id="remember-input"
                   type="checkbox" />
            <span>@L["RememberMe"]</span>
          </label>

          <a href="javascript:">@L["ForgetPassword"]</a>
        </div>

        <div class="container-login-form-btn">
          <div class="wrap-login-form-btn">
            <div class="login-form-bgbtn"></div>
            <button class="login-form-btn"
                    type="submit">
              @L["Login"]
            </button>
          </div>
        </div>

        <div class="external-login p-b-20 p-t-50 text-center">
          <span>@L["UseAnotherServiceToLogin"]</span>
        </div>

        <div class="flex-c-m">
          <a class="login-social-item"
             href="#">
            <svg aria-hidden="true"
                 class="icon">
              <use xlink:href="#icon-github"></use>
            </svg>
          </a>

          <a class="login-social-item"
             href="#">
            <svg aria-hidden="true"
                 class="icon">
              <use xlink:href="#icon-QQ"></use>
            </svg>
          </a>

          <a class="login-social-item"
             href="#">
            <svg aria-hidden="true"
                 class="icon">
              <use xlink:href="#icon-google"></use>
            </svg>
          </a>
        </div>

        <div class="flex-col-c p-t-25">
          <a class="register"
             href="javascript:">
            @L["Register"]
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
