@page
@model J3space.Abp.Account.Pages.Account.Login

@section style
{
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
        rel="stylesheet">
  <link asp-append-version="true"
        href="/Pages/Account/login.css"
        rel="stylesheet">
}

<div class="container"
     id="container">
  <div class="form-container sign-up-container">
    <form asp-action="RegisterAsync"
          asp-controller="Account"
          method="post">
      <h1>@L["Register"]</h1>
      <div class="social-container">
        <a class="social"
           href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="social"
           href="#">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <a class="social"
           href="#">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <span>@L["EmailForRegistration"]</span>
      <input asp-for="ReturnUrl" />
      <input asp-for="ReturnUrlHash" />
      <input asp-for="RegisterInput.UserName"
             placeholder="@L["UserName"]"
             type="text">
      <input asp-for="RegisterInput.EmailAddress"
             placeholder="@L["EmailAddress"]"
             type="email">
      <input asp-for="RegisterInput.Password"
             placeholder="@L["Password"]"
             type="password">
      <button>@L["Register"]</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form asp-action="Login"
          asp-controller="Account">
      <h1>@L["Login"]</h1>
      <div class="social-container">
        <a class="social"
           href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="social"
           href="#">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <a class="social"
           href="#">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <span>@L["LocalAccountForLogin"]</span>
      <input asp-for="LoginInput.UserNameOrEmailAddress"
             placeholder="@L["UserNameOrEmailAddress"]"
             type="text">
      <span asp-validation-for="LoginInput.UserNameOrEmailAddress"
            class="text-danger">
      </span>
      <input asp-for="LoginInput.Password"
             placeholder="@L["Password"]"
             type="password">
      <span asp-validation-for="LoginInput.Password"
            class="text-danger">
      </span>
      <input asp-for="LoginInput.RememberMe"
             type="checkbox">@L["RememberMe"]
      <!-- TODO: 忘记密码 -->
      <a href="#">@L["ForgetPassword"]</a>
      <button>@L["Login"]</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-left overlay-panel">
        <h1>@L["AlreadyRegistered"]</h1>
        <p>@L["LoginWithYourAccount"]</p>
        <button class="ghost"
                id="signIn">
          @L["Login"]
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>@L["AreYouANewUser"]</h1>
        <p>@L["LoginInvitation"]</p>
        <button class="ghost"
                id="signUp">
          @L["Register"]
        </button>
      </div>
    </div>
  </div>
</div>
<script src="/Pages/Account/login.js"
        asp-append-version="true"></script>
